<div class="wrapper">
  <div class="banner">
  </div>
  <div class="info-graph">
    <h2>How does it work?</h2>
    <div class="info-graph-container">
      <div class="info-graph-container-object">
        <div class="info-graph-container-object-icon">
          <i class="fas fa-search"></i>
        </div>
        <div class="info-graph-container-object-text">
          <p>Browse for your favorite drinks and recipes.</p>
        </div>
      </div>
      <div class="info-graph-container-object">
        <div class="info-graph-container-object-icon">
          <i class="fas fa-plus"></i>
        </div>
        <div class="info-graph-container-object-text">
          <p>Can't find a drink? Add a new one by clicking the (+) icon above.</p>
        </div>
      </div>
      <div class="info-graph-container-object">
        <div class="info-graph-container-object-icon">
          <i class="fas fa-glass-martini"></i>
        </div>
        <div class="info-graph-container-object-text">
          <p>Grab your drink and party!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail_path(cocktail) do  %>
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <div class="card-category"><%= cocktail.name %></div>
              <div class="card-description">
                <p>A nice drink...</p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>