// Specific CSS for your home-page
.wrapper {
  margin-top: 70px;
  z-index: 1;
}

.container {
  width: 95vw;
}

.banner {
  background-image: url('cocktails');
  background-size: cover;
  width: 100vw;
  height: 75vh;
}
