.navbar-buffer-white {
  background-color: #200101;
  height: 70px;
  width: 100%;
}

.new-wrapper {
  padding: 25px;
  height: calc(100vh - 70px);
  align-content: center;
  display: flex;
  justify-content: space-around;
  background-color: #200101;
}

.new-container {
  background-color: #F4F4F4;
  width: 50%;
  height: 60%;
  margin-top: 30px;
  border: 1px solid #FF0000;
  box-shadow: 0 0 10px #FF0000;
  padding: 25px;

}
