<div class="navbar-wagon">
  <div class="navbar-link-left font-effect-neon">
    <%= link_to "Mix it up", root_path %>
  </div>
  <div class="navbar-logo font-effect-neon">
    <%= link_to root_path do %>
      <i class="fas fa-cocktail"></i>
    <% end %>
  </div>
  <div class="navbar-link-right font-effect-neon">
    <%= link_to "Create", new_cocktail_path %>
  </div>
</div>