<div class="navbar-wagon">
  <div class="navbar-link-left">
    <%= link_to "Mix it up", root_path %>
  </div>
  <div class="navbar-logo">
    <%= link_to root_path do %>
      <%= image_tag "bartender_icon.png", alt: "bartender_icon", width: 70 %>
    <% end %>
  </div>
  <div class="navbar-link-right">
    <%= link_to "Create a cocktail", new_cocktail_path %>
  </div>
</div>