<div class="navbar-wagon">
  <%= link_to root_path do  %>
    <i class="fas fa-cocktail"></i>
  <% end %>
  <%= link_to "Mix a New Cocktail", "#", class: "navbar-wagon-item navbar-wagon-link" %>
  <!-- Avatar with dropdown menu -->
</div>