/* Main navbar */
.navbar-wagon {
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.2);
  background-color: transparent;
  transition: 0.5s background-color ease;
  height: 70px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
  filter: invert(100%);
  color: white;

} a {
  font-size: 15px;
  text-decoration: none;
  color: black;

} a:hover {
  text-decoration: none;
  text-shadow: 1px 1px 1px gray;
  color: white;
}

.navbar-wagon-white {
  background-color: white;
  color: black;
  filter: invert(0%);
}

.navbar-link-left {
  text-align: right;
  margin-right: 30px;
}

.navbar-link-right {
  text-align: left;
  margin-left: 30px;
}




