/* Main navbar */
.navbar-wagon {
  background-color: transparent;
  transition: 0.5s background-color ease;
  box-shadow: 1px 1px 3px #200101;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;

} a {
  font-size: 30px;
  text-decoration: none;
  font-family: Lato;
  font-weight: lighter;
  color: #FF3300 ;
  text-shadow: 0 0 20px #FF0000,
} a:hover {
  text-decoration: none;
  color: #FF0000;
  text-shadow: 0 0 20px #FF0000,
    0 0 30px #FF0000,
    0 0 40px #FF0000,
    0 0 70px #FF0000,
    0 0 80px #FF0000,
    0 0 90px #FF0000,
    0 0 100px #FF0000,
}

.navbar-wagon-white {
  background-color: white;
}

.navbar-link-left {
  text-align: right;
  margin-right: 100px;
  width: 210px;
}

.navbar-link-right {
  text-align: left;
  margin-left: 100px;
  width: 210px;
}

.font-effect-neon {
  text-shadow: none;
}





